.contacto__formulario {
    margin-top: 2rem;
    display: block;
}

.contacto__formulario-nombre {
    background-color: white;
    margin-bottom: 2rem;
    padding: 0.5rem;
    border-bottom: #C8C8C8 solid;
    border-radius: 4px;
}

.contacto__formulario-nombre-p {
    font-size: 0.75rem;
    color: #a2a2a2;
    margin-bottom: 0.5rem;
}

.contacto__formulario-nombre-nombre {
    border-style: none;
    width: 100%;
}

.contacto__formulario-nombre-nombre::placeholder {
    font-size: 1rem;
    color: #464646
}

.contacto__formulario-error {
    color: #2A7AE4;
    font-size: 0.75rem;
}

.contacto__formulario-correo {
    background-color: white;
    padding: 0.5rem;
    margin-bottom: 2rem;
    border-bottom: #2A7AE4 solid;
    border-radius: 4px;
}

.contacto__formulario-correo-p {
    font-size: 0.75rem;
    color: #2A7AE4;
    margin-bottom: 0.5rem;
}

.contacto__formulario-correo-correo {
    border-style: none;
    width: 100%;
}

.contacto__formulario-correo-correo::placeholder {
    color: #464646;
    font-size: 1rem;
}

.contacto__formulario-correo-error {
    display: none;
}

.contacto__formulario-asunto-div {
    background-color: white;
    padding: 0.5rem;
    margin-bottom: 2rem;
    border-bottom: #c8c8c8 solid;
    border-radius: 4px;
}

.contacto__formulario-asunto {
    width: 100%;
    margin-bottom: 0.5rem;
    border-style: none;
}

.contacto__formulario-asunto::placeholder {
    font: var(--raleway);
    font-size: 1rem;
    color: #a2a2a2;
    padding-left: 0.5rem;
}

.contacto__formulario-texto-div {
    margin-bottom: 2rem;
    border-radius: 4px;
    border-style: none;
    border-bottom: #C8C8C8 solid;
    background-color: white;
    padding: 0.5rem;
}

.contacto__formulario-texto-text {
    height: 133px;
    width: 100%;
    border-style: none;
    resize: none;
    margin-bottom: 0.5rem;
    word-wrap: normal;
    word-break: break-all;
}
.contacto__formulario-texto-text::placeholder {
    font: var(--raleway);
    font-size: 1rem;
    color: #a2a2a2;
    padding: 0.5rem;
}

.contacto__formulario-texto-boton {
    width: 133px;
    height: 40px;
    border-style: none;
    border-color: #2A7AE4;
    background-color: #2A7AE4;
    color: #FFFFFF;
}

@media screen and (min-width:768px) {
    .contacto__derecha {
        width: 100%;
    }
}

@media screen and (min-width:1440px) {
    .contacto__derecha {
        margin-left: 1rem;
    }
}