.skills__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skills__menu-item {
    display: flex;
    background-color: white;
    width: 48%;
    height: 118px;
    margin-bottom: 1rem;
}

.skills__menu-skill {
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.skills__menu-skill-icon {
    font-size: 2rem;
    color: #2A7AE4;
}

.skills__menu-skill-text {
    margin-top: 0.5rem;
    font-family: var(--raleway);
    font-size: 1rem;
    font-weight: 700;
}

@media screen and (min-width:768px) {
    .skills__menu-item {
        width: 31%;
    }
}

@media screen and (min-width:1440px) {
    .skills__menu-item {
        height: 174px;
        width: 15%;
    }
}